@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  --pale-blue: rgb(0, 121, 255);
  --icons:rgb(75, 106, 155);
  --main-bg-dark:rgb(20, 29, 47);
  --sec-bg-dark:rgb(30, 42, 71);
  --text-dark: white;
  --main-bg-light:rgb(211, 219, 250);
  --sec-bg-light:white;
  --text-light:rgb(69, 85, 110);
}

header > div, main #user-basic-info, main #user-basic-info #info, main #user-basic-info #user-name, main #profil-info, main #profil-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono";
}

body {
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 769px) {
  body {
    font-size: 14px;
  }
}

body.dark {
  background-color: var(--main-bg-dark);
  color: var(--text-dark);
}

body.dark main,
body.dark input {
  background-color: var(--sec-bg-dark);
}

body.dark #profil-info {
  background-color: var(--main-bg-dark);
}

body.dark input,
body.dark input::-webkit-input-placeholder {
  color: var(--text-dark);
}

body.dark input,
body.dark input:-ms-input-placeholder {
  color: var(--text-dark);
}

body.dark input,
body.dark input::-ms-input-placeholder {
  color: var(--text-dark);
}

body.dark input,
body.dark input::placeholder {
  color: var(--text-dark);
}

body.light {
  background-color: var(--main-bg-light);
  color: var(--text-light);
}

body.light main,
body.light input {
  background-color: var(--sec-bg-light);
}

body.light #profil-info {
  background-color: var(--main-bg-light);
}

#container {
  width: 900px;
  margin: auto;
}

@media (max-width: 769px) {
  #container {
    width: 96%;
  }
}

header > div {
  font-size: 20px;
  margin-bottom: 20px;
}

header > div #theme-switcher {
  cursor: pointer;
}

header > div #theme-switcher span {
  text-transform: uppercase;
}

@media (max-width: 769px) {
  header > div {
    font-size: 20px;
  }
}

header form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  margin-bottom: 70px;
}

header form i {
  position: absolute;
  z-index: 10;
  font-size: 32px;
  left: 1.5rem;
  color: var(--pale-blue);
}

header form input {
  width: 100%;
  font-size: 24px;
  height: 4rem;
  border-radius: 20px;
  padding-padding: 1rem;
  padding-left: 4rem;
  position: absolute;
  outline: none;
  border: none;
}

header form input::-webkit-input-placeholder {
  font-size: 24px;
  text-transform: capitalize;
}

header form input:-ms-input-placeholder {
  font-size: 24px;
  text-transform: capitalize;
}

header form input::-ms-input-placeholder {
  font-size: 24px;
  text-transform: capitalize;
}

header form input::placeholder {
  font-size: 24px;
  text-transform: capitalize;
}

@media (max-width: 769px) {
  header form input::-webkit-input-placeholder {
    font-size: 16px;
  }
  header form input:-ms-input-placeholder {
    font-size: 16px;
  }
  header form input::-ms-input-placeholder {
    font-size: 16px;
  }
  header form input::placeholder {
    font-size: 16px;
  }
}

header form.error::after {
  content: 'Does not exist';
  position: absolute;
  right: 15%;
  color: red;
  font-size: 24px;
}

header form button {
  position: absolute;
  height: 2.7rem;
  border-radius: 12px;
  font-weight: 700;
  text-transform: capitalize;
  background-color: var(--pale-blue);
  color: white;
  border: none;
  width: 80px;
  right: 20px;
  cursor: pointer;
}

main {
  padding: 3rem;
  margin-bottom: 100px;
  border-radius: 14px;
}

@media (max-width: 769px) {
  main {
    padding: 1rem;
  }
}

main #user-basic-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

main #user-basic-info img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

@media (max-width: 769px) {
  main #user-basic-info img {
    width: 80px;
    height: 80px;
  }
}

main #user-basic-info #info {
  width: 100%;
}

main #user-basic-info #user-name {
  margin-top: -100px;
  margin-left: -100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: initial;
}

@media (max-width: 769px) {
  main #user-basic-info #user-name {
    margin-top: 0;
    margin-left: 20px;
  }
}

main #user-basic-info #user-name #name {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 769px) {
  main #user-basic-info #user-name #name {
    font-size: 16px;
  }
}

main #user-basic-info #user-name #user-id {
  color: var(--pale-blue);
}

main #user-basic-info #join-date {
  margin-top: -110px;
}

@media (max-width: 769px) {
  main #user-basic-info #join-date {
    margin-top: 0;
  }
}

main #user-basic-info #bio {
  margin-left: -20%;
}

main #profil-info {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 25%;
  border-radius: 10px;
  padding: 1rem;
}

@media (max-width: 769px) {
  main #profil-info {
    margin-left: 0;
  }
}

main #profil-info div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: capitalize;
}

main #profil-info div span:nth-child(2) {
  font-size: 24px;
  font-weight: 700;
}

main #user-contact {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-left: 25%;
  row-gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 769px) {
  main #user-contact {
    margin-left: 0;
  }
}
/*# sourceMappingURL=index.css.map */